<div class="container" style="margin-top: 80px">

    <div class="row">

      <div class="col-lg-12">

        <h1 class="mt-4">{{antique.article_number}}</h1>

        <img class="img-fluid rounded" src="../pictures/{{antique.primary_picture_location}}" alt="" style="height: 600px">

        <hr>

        <h5>Beschrijving</h5>
        <p>{{antique.original_description}}</p>

        <h5>Prijs</h5>
        <p>€{{antique.price}}</p>

        <h5>Jaar</h5>
        <p>{{antique.date}}</p>

        <h5>Afmetingen</h5>
        <p>{{antique.dimensions}}</p>

        <h5>Foto's afkomstig van</h5>
        <p>{{antique.source_file}}</p>

        <hr>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
